.map-container {
    top: 100px;
    height: 100vh;
    width: 70%;
    margin: 0 auto;
}

.location-display-container {
    width: 72%;
    margin: 0 auto;
}

ul {
    padding: 0px;
    padding-left: 1.5rem;
    margin: 0px;
}

li button {
    color: #f6e05e;
    background: none;
    border: none;
    cursor: pointer;
}

/* Common styles for any component that utilizes InfoWindow or Pin */
.info-window p {
    margin-bottom: 4px;
    margin-top: 4px;
}

.info-window ul {
    padding-left: 20px;
    margin-top: 0;
}

.info-window ul li {
    list-style-type: disc;
}

.info-window span {
    font-weight: bold;
}