.map-container {
    top: 100px;
    height: 70vh;
    width: 70%;
    margin: 0 auto;
}

.map-heading {
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgb(52, 48, 47);
}

.location-display-container {
    width: 72%;
    margin: 0 auto;
}

.directions-container {
    position: absolute;
    top: 8px;
    left: 80%;
    transform: translateX(-50%);
    width: 17%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clear-button {
    position: absolute;
    bottom: 30px;
    left: 85%;
    transform: translateX(-50%);
    width: 14%;
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-section {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    width: 70%;
    margin: 0 auto;
}

.event-section>* {
    flex: 1;
    margin: 10px;
}

@media (max-width: 768px) {
    .event-section {
        flex-direction: column;
        /* Stack the columns on smaller screens */
    }
}

.alert-container {
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

/* Common styles for any component that utilizes InfoWindow or Pin */
.info-window p {
    margin-bottom: 4px;
    margin-top: 4px;
}

.info-window ul {
    padding-left: 20px;
    margin-top: 0;
}

.info-window span {
    font-weight: bold;
}